<%= @greeting %> <%= @user.nombres  %>, <br>

Para recuperar su contrasena ingrese a la siguiente direccion: <br>

<a href="http://localhost:4200/usuarios/<%=@user.password_reset_token%>/recuperar_contrasena">Recuperar Contrasena</a>

Si usted no solicito recuperar su contrasena, por favor ignore este correo y su contrasena seguira manteniendose.
