<%= @greeting %> <%= @user.nombres  %>, <br>

Para recuperar su contrasena ingrese al siguiente enlace: <br>

<a href="http://localhost:4200/usuarios/<%=@user.password_reset_token%>/recuperar_contrasena">Recuperar Contrasena</a>
<br>

Si usted no solicito recuperar su contrasena, por favor ignore este correo y su contrasena seguira manteniendose.
