<h3>
  Hola <%=	@user.nombres + ' ' + @user.apellidos %>!
</h3>
&nbsp;
<div>

  <p>Muchas gracias por registrarte en nuestro <strong>Club de Compras</strong></p>
  <br>
  <p>En breve serás contactad@ por uno de nuestros asesores</p>

</div>